.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.services section {
  text-align: center;
}

body {
  background-color: #FFEEDD;
  height: 100%;
  margin: 0;
}

h2 {
  color: darkblue;
  text-align: center;
  font-family: DFKai-sb;
  font-weight: bold;
  padding-bottom: 5px;
}


.bgimage {
  background-image: url("../images/midSummer.png");
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.footer {
  width: 100%;
  font-size: 12px;
  text-align: right;
  background-color: black;
  color: #FFF;
  height: 50px;
}

p {
  font-size: 18px;
  text-align: center;
  color: #642100;
  font-family: DFKai-sb;
}

.divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rank {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}